body {
    font-family: sans-serif;
    width: 100%;
  }


header{
    background-color: #1F3F68;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
  }

form{
    margin-bottom: 32px;
}

.btn-cart{
    box-shadow: 5px 10px 20px rgb(53 110 173 / 20%);
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #130101;
    margin-right: 3%;
    text-decoration: none;
    display: inline-block;
}

.head_name{
    color: #f4f5f4;
    margin-left: 3%;
}

.products{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.buy-btn{
    background: #1F3F68;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.product_sum{
    font-weight: 500;
    font-size: 16px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 3%;
}
